<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<?php require_once($_SERVER['DOCUMENT_ROOT'].'/global.php');?>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="renderer" content="webkit|ie-stand" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Cache-Control" content="no-cache,must-revalidate"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta name="format-detection" content="telephone=no, email=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="robots" content="none" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="${author}" />
    <meta name="copyright" content="${copyright}" />
    <title>手提袋创意设计</title>
    <link rel="shortcut icon" type="image/x-icon" href="<?=DOMAIN?>favicon.ico"  />
    <link rel="stylesheet" type="text/css" href="<?=STYLES?>base.css" />
    <link rel="stylesheet" type="text/css" href="<?=STYLES?>layout.css" />
    <link rel="stylesheet" type="text/css" href="<?=STYLES_DESIGN?>layout.css" />
    <link rel="stylesheet" type="text/css" href="<?=STYLES_DESIGN?>design.css" />
    <?php include(MODULES.'dns_prefetch.xhtml');?>
</head>
<body class="demand">
<?php include(MODULES_DESIGN.'header.xhtml');?>
<div class="main load">
    <div id="demand" class="layout demand-list clearfix">
        <div id="template-demand-view"></div>
        <?php include(MODULES.'ordering.xhtml');?>
    </div>
</div>
<?php include(MODULES_DESIGN.'footer.xhtml');?>
<?php include(TEMPLATES_DESIGN.'demand/headline.xhtml');?>
<?php include(TEMPLATES_DESIGN.'demand/attrs.xhtml');?>
<?php include(TEMPLATES_DESIGN.'demand/custom_attrs.xhtml');?>
<script id="design_pro34" type="text/template">
    <div class="radios d-radios">
        <input type="hidden" id="pro34" name="产品" value="{{paramsInfo['产品']}}">
        {{'', pi = paramsInfo['产品'], size = attr["尺寸"], hasSize = size&&/^其他/.test(size)&&size.replace(/[其他:cm]/g, '')}}
        {{each pro34 as values name}}
        <dl class="attr clearfix">
            {{if pi }}
                <dt class="atr radio {{pi==name?'sel':''}}" data-value={{name}}>{{name}}</dt>
            {{else}}
                <dt class="atr radio" data-value={{name}} style="{{name == '“新”手提袋'? 'margin-right: 16px':''}}">{{name}}</dt>
            {{/if}}
            <dd class="vals" data-name="尺寸">
                {{each values["尺寸"] as value i}}
                    <a class="val {{ attr['尺寸'] == value? 'sel':''}}" href="javascript:;" data-value="{{value}}">{{value}}</a>
                {{/each}}
            </dd>
        </dl>
        {{/each}}
        <dl class="attr clearfix">
            <dt class="atr radio {{hasSize?'sel':''}}" data-value="定制手提袋">定制大小</dt>
            <dd class="vals" data-name="尺寸">
                {{if hasSize}}
                <a class="val sel" href="javascript:;" data-value="其他" data-unit="mm">
                    <span class="inputbox d-size done">
                        <span>高</span><input class="textbox" type="text" name="x" value="{{hasSize.split('*')[0]}}">
                        <span>mm*宽</span> <input class="textbox" type="text" name="y" value="{{hasSize.split('*')[1]}}">
                        <span>mm*侧边</span> <input class="textbox" type="text" name="z" value="{{hasSize.split('*')[2]}}"> <span>mm</span>
                    </span>
                </a>
                {{else}}
                <a class="val" href="javascript:;" data-value="其他" data-unit="mm">
                    <span class="inputbox d-size done">
                        <span>高</span><input class="textbox" type="text" name="x" value="">
                        <span>mm*宽</span> <input class="textbox" type="text" name="y" value="">
                        <span>mm*侧边</span> <input class="textbox" type="text" name="z" value=""> <span>mm</span>
                    </span>
                </a>
                {{/if}}
            </dd>
        </dl>        
    </div>
</script>
<script id="template-demand" type="text/template">
    <?php include(TEMPLATES_DESIGN.'demand/sitemap.xhtml');?>
    {{include 'demand_headline'}}
    {{include 'demand_attrs'}}
    {{include 'demand_custom_attrs'}}
    <div class="d-attrs clearfix">
        <h3 class="d-caption"><!-- <b class="red">*</b> -->请填写所需要填写的信息</h3>
        <dl class="d-alts">
            <dt class="red">为了快速高效地为您完成设计，请尽量详细描述您的设计需求，如：</dt>
            <dt><b>正面</b>：中间放置logo,下方印“设计省心，印刷简单”</dt>
            <dt><b>背面</b>：正中放置“云印技术（深圳）有限公司”</dt>
            <dt><b>侧面</b>：放置公司地址信息</dt>
        </dl>
        <dl class="attr attr-form clearfix">
            <dt class="atr">正面内容：</dt>
            <dd class="vals">
                <textarea class="textbox" name="正面内容">{{demandParamsInfo['正面内容']}}</textarea>
            </dd>
        </dl>
        <dl class="attr attr-form clearfix">
            <dt class="atr">反面内容：</dt>
            <dd class="vals">
                <textarea class="textbox" name="反面内容">{{demandParamsInfo['反面内容']}}</textarea>
            </dd>
        </dl>
        <dl class="attr attr-form clearfix">
            <dt class="atr">侧面内容：</dt>
            <dd class="vals">
                <textarea class="textbox" name="侧面内容">{{demandParamsInfo['侧面内容']}}</textarea>
            </dd>
        </dl>
    </div>
    <?php include(TEMPLATES_DESIGN.'demand/material.xhtml');?>
    <?php include(TEMPLATES_DESIGN.'demand/contact_info.xhtml');?>
</script>
<?php include(TEMPLATES_DESIGN.'demand/choice_yunfile.xhtml');?>
<?php include(TEMPLATES.'previewer.xhtml');?>
<script type="text/javascript" src="<?=SCRIPTS?>jquery.js?ininin=<?=VERSION?>"></script>
<script type="text/javascript" src="<?=SCRIPTS?>tools.js?ininin=<?=VERSION?>"></script>
<script type="text/javascript" src="<?=SCRIPTS?>uploader/main.js?ininin=<?=VERSION?>"></script>
<script type="text/javascript" src="<?=SCRIPTS_DESIGN?>product/main.js?ininin=<?=VERSION?>"></script>
<script type="text/javascript" src="<?=SCRIPTS_DESIGN?>product/34.js?ininin=<?=VERSION?>"></script>
<script type="text/javascript" src="<?=SCRIPTS?>location.js?ininin=<?=VERSION?>"></script>
<script type="text/javascript" src="<?=SCRIPTS?>loaded.js?ininin=<?=VERSION?>"></script>
<?php include(MODULES.'linklogin.xhtml');?>
</body>
</html>