<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<?php require_once($_SERVER['DOCUMENT_ROOT'].'/global.php');?>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="renderer" content="webkit|ie-stand" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Cache-Control" content="no-cache,must-revalidate"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta name="format-detection" content="telephone=no, email=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="robots" content="all" />
    <meta name="keywords" content="${keywords}" />
    <meta name="description" content="${description}" />
    <meta name="author" content="ininin.com" />
    <meta name="copyright" content="Copyright © 2015 ininin.com. All rights reserved." />
    <title>${title}</title>
    <link href="<?=DOMAIN?>favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="<?=STYLES?>base.css?ininin=<?=VERSION?>" />
    <link rel="stylesheet" type="text/css" href="<?=STYLES?>layout.css?ininin=<?=VERSION?>" />
	<?php include(MODULES.'dns_prefetch.xhtml');?>
</head>
<body>
<?php include(MODULES.'header.xhtml');?>
<div id="main" class="main pdetail">
    <div id="template_product_attrs_view" class="layout"></div>
    <div class="layout">
        <?php include(TEMPLATES.'product/detail_desc.xhtml');?>
    </div>
</div>
<?php include(MODULES.'footer.xhtml');?>
<script id="template_product_attrs" type="text/template">
    <?php include(TEMPLATES.'product/detail_sitemap.xhtml');?>
    <div class="dpanel clearfix" id="dpanel">
        <div class="dupload">
            <dl class="images">
                <dt id="proimg" class="zoomimg">
                    <a href="<?=DOMAIN?>product/<%=productId%>.html" title="<%=productName%>"><img data-imguri="<%=productImg0%>" src="<%=productImg0%>" alt="<%=productName%>" /></a>
                </dt>
                <dd>
                    <ul id="imglist">
                        <% for(var j=0; img=pImages[j]; j++){ %>
                        <li data-imguri="<%=img%>"><a href="javascript:;"><img src="<%=img%>?imageMogr2/thumbnail/!60x60r/auto-orient/gravity/Center/crop/60x60" alt="<%=productName%>"/></a></li>
                        <% } %>
                    </ul>
                </dd>
            </dl>
        </div>
        <?php include(TEMPLATES.'product/detail_sidebar.xhtml');?>
        <div class="options">
            <fieldset class="product_detail">
                <form id="form_details" class="forms forms_border">
                    <div class="pro_title">
                        <h1 class="headline"><a href="<?=DOMAIN?>product/<%=productId%>.html" title="<%=productName%>"><%=productName%></a>
                            <p class="mark"><%=simpleDesc%></p><!--<p class="mark">超值套餐价（含设计）包邮价仅需128元！</p>--><!--a class="icon_help" href="javascript:;" data-text="--"></a--></h1>
                        <div class="attr gift_score">
                            <span class="atr">赠送积分：</span><span class="vals"><b id="gift_score_<%=productId%>" class="yellow">0</b><span> 分</span><a href="<?=DOMAIN?>integral/index.html" target="_blank">积分商城</a></span>
                        </div>
                    </div>
                    <dl id="product_info_<%=productId%>" class="pinfo">
                        <dd id="product_pattr_<%=productId%>" class="pattr">
                            <div id="product_attr_<%=productId%>" class="attrs">
                                <div class="attr attr_icon clearfix">
                                    <span class="atr">展架套餐：</span><span class="vals" data-name="展架套餐"><a class="val <%=attrs['展架套餐']=='展架+画幅+设计'?'sel':''%>" href="javascript:;"><span class="icons icon1">展架</span>+<span class="icons icon2">画幅</span>+<span class="icons icon3">设计</span></a>&nbsp;<a class="val <%=attrs['展架套餐']=='展架+画幅'?'sel':''%>" href="javascript:;"><span class="icons icon1">展架</span>+<span class="icons icon2">画幅</span></a>&nbsp;<em class="br"></em><a class="val <%=attrs['展架套餐']=='画幅+设计'?'sel':''%>" href="javascript:;"><span class="icons icon2">画幅</span>+<span class="icons icon3">设计</span></a>&nbsp;<a class="val <%=attrs['展架套餐']=='画幅（不含设计）'?'sel':''%>" href="javascript:;"><span class="icons icon2">画幅（不含设计）</span></a></span>
                                </div>
                                <!--<div class="attr clearfix">
                                    <span class="atr">展架材质：</span><span class="vals" data-name="展架材质"><a class="val <%=attrs['展架材质']=='铁质喷漆'?'sel':''%>" href="javascript:;" data-imguri="<?=IMAGES?>products/20003101.jpg">铁质喷漆</a>&nbsp;<a class="val <%=attrs['展架材质']=='不锈钢'?'sel':''%>" href="javascript:;" data-imguri="<?=IMAGES?>products/20003102.jpg">不锈钢</a></span>
                                </div>-->
                                <div id="product_quantity_attr" class="attr clearfix">
                                    <span class="atr">数量：</span><span class="counter" data-name="数量"><a>-</a><input id="product_quantity" class="textbox" type="text" name="quantity" value="<%=ParseInt(attrs['数量'], 10)||1%>"/><b>+</b></span><span class="unit">套</span>
                                </div>
                            </div>
                            <div class="pro_attr pro_btm">
                                <% if(HAS_WEIGHT){ %>
                                <div class="attr weight clearfix">
                                    <span class="atr">预估净重：</span><span class="vals"><b id="weight_<%=productId%>" class="yellow">...</b> <span>千克</span></span>
                                </div>
                                <% } %>
                                <% if(HAS_DELIVERY_DAY){ %>
                                <div class="attr day clearfix">
                                    <span class="atr">生产周期：</span><span class="vals"><b id="delivery_day_<%=productId%>" class="yellow">...</b> <span>天</span> <span id="delivery_date_<%=productId%>" class="delivery_date"></span></span>
                                </div>
                                <div class="attr declare clearfix">
                                    <span class="atr">说明：</span><span class="vals">设计出稿时间预计1天。为了更快为您安排设计，请您下单后尽快提交设计需求</span>
                                </div>
                                <% } %>
                            </div>
                            <?php include(TEMPLATES.'delivery_address.xhtml');?>
                            <div id="product_price_<%=productId%>" class="pprice"></div>
                            <div class="attr declare clearfix">
                                <span class="atr">说明：</span><span class="vals">如果需要印刷多款（不同内容），请分别选择对应数量加入购物车下单</span>
                            </div>
                        </dd>
                    </dl>
                    <div class="attr form_btm btm_attr">
                        <span class="atr"></span><a class="submit buynow yellow-box" href="javascript:;">立即购买<input onclick="_czc.push(['_trackEvent', '<%=productName%>', '立即购买', '','','']);" value="" type="submit" /><span class="doing"><span>计算中...</span></span></a><a class="submit addcart yellow-btn s2" href="javascript:;">加入购物车<input onclick="_czc.push(['_trackEvent', '<%=productName%>', '加入购物车', '','','']);" value="" type="submit" /><span class="doing"><span>计算中...</span></span></a>
                    </div>
                </form>
            </fieldset>
        </div>
    </div>
</script>
<script type="text/javascript" src="<?=SCRIPTS?>jquery.js?ininin=<?=VERSION?>"></script>
<script type="text/javascript" src="<?=SCRIPTS?>tools_tpl.js?ininin=<?=VERSION?>"></script>
<script type="text/javascript" src="<?=SCRIPTS?>location_tpl.js?ininin=<?=VERSION?>"></script>
<script type="text/javascript" src="<?=SCRIPTS?>portal/200031_tpl.js?ininin=<?=VERSION?>"></script>
<script type="text/javascript" src="<?=SCRIPTS?>portal/detail_tpl.js?ininin=<?=VERSION?>"></script>
<script type="text/javascript" src="<?=SCRIPTS?>loaded_tpl.js?ininin=<?=VERSION?>"></script>
<!--<script type="text/javascript" src="<?=SCRIPTS?>jquery-1.7.2.min.js?ininin=<?=VERSION?>"></script>-->
<!--<script type="text/javascript" src="<?=SCRIPTS?>template-native.js?ininin=<?=VERSION?>"></script>-->
<!--<script type="text/javascript" src="<?=SCRIPTS?>zh_cn.js?ininin=<?=VERSION?>"></script>-->
<!--<script type="text/javascript" src="<?=SCRIPTS?>tool_tpl.js?ininin=<?=VERSION?>"></script>-->
<!--<script type="text/javascript" src="<?=SCRIPTS?>image-zoom_tpl.js?ininin=<?=VERSION?>"></script>-->
<!--<script type="text/javascript" src="<?=SCRIPTS?>libs/location_tpl.js?ininin=<?=VERSION?>"></script>-->
<!--<script type="text/javascript" src="<?=SCRIPTS?>portal/detail_tpl.js?ininin=<?=VERSION?>"></script>-->
<!--<script type="text/javascript" src="<?=SCRIPTS?>portal/200031_tpl.js?ininin=<?=VERSION?>"></script>-->
<!--<script type="text/javascript" src="<?=SCRIPTS?>loaded_tpl.js?ininin=<?=VERSION?>"></script>-->
<script type="script_weibo"></script>
<script type="script_linklogin"></script>
<script type="script_cnzz"></script>
</body>
</html>