@charset "utf-8";
/*index*/
.services {
    background: #fff;
}
.services .title { width: 140px; height: 130px; margin-right: 65px; overflow: hidden;}
.services .title img { width: 100%; height: 100%;}
.order-steps { padding-top: 20px;}
.order-steps li {
    width: 178px;
    overflow: hidden;
    float: left;
    padding-top: 75px;
    background: url("../images/step-icons.png?v=1") center 0 no-repeat;
}
.order-steps .col1 {
    background-position: center 0;
}
.order-steps .col2 {
    background-position: center -120px;
}
.order-steps .col3 {
    background-position: center -240px;
}
.order-steps .col4 {
    background-position: center -360px;
}
.order-steps .col5 {
    background-position: center -480px;
}
.order-steps .r-arrow {
    width: 11px;
    background: url("../images/sprite.png?v=1") left -425px no-repeat;
}
.case-title {
    font-size: 30px;
    line-height: 46px;
    color: #db2148;
    letter-spacing: 3px;
}
.case-title span {
    font-size: 20px;
    color: #666;
    font-weight: normal;
}
a.btn-more {
    color: #db2148;
    padding: 0 15px;
    height: 38px;
    line-height: 38px;
    border: 1px solid #db2148;
    border-radius: 20px;
    background-color: transparent;
}
a.btn-more:hover {
    color: #fff;
    background-color: #db2148;
}
.bt-img {
    width: 100%;
    height: 150px;
    margin: 20px 0 0;
    overflow: hidden;
}
.bt-img a{
    cursor: default;
}
.bt-img img {
    width: 100%;
    height: 100%;
}


/*list*/
.filter-list {
    padding: 0 20px;
    margin: 20px 0 30px 0;
    min-height: 69px;
    background: #fff;
}
.filter-list dl {
    overflow: hidden;
    line-height: 34px;
}
.filter-list .line {
    border-bottom: 1px solid #e5eaef;
}

.filter-list dt {
    color: #999;
    float: left;
    min-width: 72px;
    margin-right: 10px;
    text-align: left;
}

.filter-list dd {
    float: left;
    max-width: 1080px;
    white-space: normal
}

.filter-list a {
    text-align: left;
    width: 100px;
    color: #666;
    float: left;
    padding: 9px 10px;
    line-height: 16px;
    height: 16px;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
}

.filter-list a:hover, .filter-list a.sel {
    color: #db2148;
}

/*collection*/
.c-title {
    font-size: 20px;
    line-height: 34px;
    margin-top: 22px;
}

.row-line {
    width: 100%;
    height: 1px;
    background: #ccd5df;
}

.c-tabs {
    font-weight: bold;
}
.c-tabs a:first-child, .c-filters a:first-child {
    padding-left: 0;
}
