<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<?php require_once($_SERVER['DOCUMENT_ROOT'].'/global.php');?>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="renderer" content="webkit|ie-stand" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Cache-Control" content="no-cache,must-revalidate"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta name="format-detection" content="telephone=no, email=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="robots" content="all" />
    <meta name="keywords" content="${keywords}" />
    <meta name="description" content="${description}" />
    <meta name="author" content="${author}" />
    <meta name="copyright" content="${copyright}" />
    <title>${title}</title>
    <link  rel="shortcut icon" type="image/x-icon" href="<?=DOMAIN?>favicon.ico"  />
    <link rel="stylesheet" type="text/css" href="<?=STYLES?>base.css" />
    <link rel="stylesheet" type="text/css" href="<?=STYLES_DESIGN?>layout.css?ininin=<?=VERSION?>" />
    <link rel="stylesheet" type="text/css" href="<?=STYLES_DESIGN?>designer.css?ininin=<?=VERSION?>" />
    <?php include(MODULES.'dns_prefetch.xhtml');?>
</head>
<body>
<?php include(MODULES_DESIGN.'header.xhtml');?>
<div class="main designhome">
    <div class="layout">
        <div id="template-designer_detail-view" class="design-figure clearfix">

        </div>
        <div class="design-works clearfix">
            <div id="template-design_items-view" class="design-items">
                <!-- 左侧项目列表 -->
            </div>
            <div id="design-projects" class="design-projects">
                <div class="filter-bar">
                    <a href="javascript:;" class="sel" data-order_by="">默认</a>
                    <a href="javascript:;" data-order_by="update_time">更新时间</a>
                    <a href="javascript:;" data-order_by="collection_number">收藏最多</a>
                </div>
                <div id="template-case_list-view" class="recommend-cases">

                </div>
            </div>
        </div>
    </div>
</div>
<?php include(MODULES_DESIGN.'footer.xhtml');?>
<script id="template-designer_detail" type="text/template">
    <div class="info fl">
        <div class="head">
            <div class="headimg">
                <i class="overlay"></i>
                <img src="{{personImage}}" alt="设计师头像">
            </div>
            <p>{{designerAlias}}</p>
            <p>{{jobPosition}}</p>
        </div>
        <div class="intr">
            {{ honor }}
        </div>
    </div>
    <div class="banner figure">
        <div id="figure_list" class="slide-panel" data-duration="300" data-interval="2500">
            <ul class="slide-layer clearfix">
                {{ each pics as temp j }}
                <li class="slide-item">
                    {{if temp.picHref}}
                    <a class="slide-link" href="{{temp.picHref || 'javascript:;'}}"  title="设计师案例" target="_blank">
                        <img src="{{temp.picPath}}" alt="设计师">
                    </a>
                    {{else}}
                    <img src="{{temp.picPath}}" alt="设计师">
                    {{/if}}
                </li>
                {{ /each }}
            </ul>
            {{ if pics.length > 1 }}
            <div class="slide-prev"></div>
            <div class="slide-next"></div>
            {{ /if }}
        </div>
    </div>
</script>
<script id="template-design_items" type="text/template">
    <div class="design-pros fl">
        <h3 class="title">服务项目</h3>
        <ul class="pros-list">
            {{if productionList&&productionList.length}}
            {{ each productionList as item k }}
            {{if k < 5}}
            <li><span>〉</span>{{item.caseName}}</li>
            {{/if}}
            {{ /each }}
            {{else}}
            <li>暂无案例</li>
            {{/if}}
        </ul>
    </div>
</script>
<?php include(MODULES_DESIGN.'project_view.xhtml');?>
<?php include(TEMPLATES_DESIGN.'case_list.xhtml');?>
<script type="text/javascript" src="<?=SCRIPTS?>jquery.js?ininin=<?=VERSION?>"></script>
<script type="text/javascript" src="<?=SCRIPTS?>tools_tpl.js?ininin=<?=VERSION?>"></script>
<script type="text/javascript" src="<?=SCRIPTS_DESIGN?>designer/designer_tpl.js?ininin=<?=VERSION?>"></script>
<script type="text/javascript" src="<?=SCRIPTS?>location_tpl.js?ininin=<?=VERSION?>"></script>
<script type="text/javascript" src="<?=SCRIPTS?>loaded_tpl.js?ininin=<?=VERSION?>"></script>
<script type="script_weibo"></script>
<script type="script_linklogin"></script>
<script type="script_cnzz"></script>
</body>
</html>