<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<?php require_once($_SERVER['DOCUMENT_ROOT'].'/global.php');?>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="renderer" content="webkit|ie-stand" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Cache-Control" content="no-cache,must-revalidate"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta name="format-detection" content="telephone=no, email=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="robots" content="all" />
    <meta name="keywords" content="常见问题-配送类" />
    <meta name="description" content="" />
    <meta name="author" content="${author}" />
    <meta name="copyright" content="${copyright}" />
    <title>常见问题-配送类</title>
    <link rel="shortcut icon" type="image/x-icon"  href="<?=DOMAIN?>favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="<?=STYLES?>base.css" />
    <link rel="stylesheet" type="text/css" href="<?=STYLES?>faq.css" />
    <?php include(MODULES.'dns_prefetch.xhtml');?>
</head>
<body>
<?php include(MODULES.'header.xhtml');?>
<div class="main faq">
	<div class="layout clearfix">
		<?php include(MODULES.'helpsidebar.xhtml');?>
		<div class="container faqs">
			<div class="upanel">
				<!--dl class="faq_item" style="height: 0; overflow: hidden;">
					<dt class="faq_tit"><span>1.配送方式</span></dt>
					<dd class="faq_contain">
						<div>配送方式包括云印配送、第三方物流、上门自提三种方式。</div>
						<ul class="faq_msg">
							<li>① 云印配送：出货当天即可送达，目前覆盖范围包括深圳市南山区、福田区，其他地区即将陆续开放，尽请期待。</li>
							<li>② 第三方物流：出货当天即交付给云印合作物流公司配送。</li>
							<li>③ 上门自提：出货当天即可送达提货点，您可在收到提货通知后到自提点提货，我们将不收取任何物流费用，同时还可获得100积分。</li>
						</ul>
						<p class="faq_close"><a href="javascript:;">收起↑</a></p>
					</dd>
				</dl>
				<dl class="faq_item">
					<dt class="faq_tit"><span>2.配送时间及费用</span></dt>
					<dd class="faq_contain">
						<table class="faq_table" cellpadding="0" cellspacing="0">
							<colgroup>
					            <col width="12%"/>
					            <col width="18%"/>
					            <col width="28%"/>
					            <col width="19%"/>
					            <col/>
					        </colgroup>
							<thead>
								<tr>
									<th rowspan="2">配送方式</th>
									<th rowspan="2">覆盖范围</th>
									<th rowspan="2">配送时间</th>
									<th colspan="2">运费</th>
								</tr>
								<tr>
									<th>小件（名片、会员卡等）</th>
									<th>重物/大件（宣传单、画册、展架等）</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>第三方物流</td>
									<td>全国</td>
									<td>出货当天发货，送达时间视具体情况</td>
									<td>7元每单，订单满49包邮</td>
									<td>根据重量、距离实际计算</td>
								</tr><tr>
									<td>云印配送</td>
									<td>深圳市南山区、福田区</td>
									<td>出货当天即可送达</td>
									<td colspan="2">统一10元</td>
								</tr><tr>
									<td>上门自提</td>
									<td>云印代收点</td>
									<td>出货当天即可送达提货点</td>
									<td colspan="2">免费</td>
								</tr>
							</tbody>
						</table>
						<p class="faq_close"><a href="javascript:;">收起↑</a></p>
					</dd>
				</dl-->
				<dl class="faq_item">
					<dt class="faq_tit"><span>1.配送方式及费用</span></dt>
					<dd class="faq_contain">
						<div>我们目前提供3种配送方式：普通快递、专车配送、上门自提。</div>
						<div>（1）<b>普通快递</b>：出货当天即寄出，预计2-5天送达。</div>
						<!--ul class="faq_msg">
							<li>小件商品（名片）满39元免费寄送；不满39元的小件商品（名片）和其他商品根据实际情况收取相应的运费。</li>
							<li>① 小件商品（名片、会员卡）满39元免费寄送；不满39元则全国统一运费每单7元（不含港、澳、台地区以及新疆、西藏等偏远地区）。</li>
							<li>② 其他商品将根据订单商品重量、配送区域实际计算。订单商品总重量少于1公斤按首重费用收取，超出的每公斤按照按续重单价（元/kg）收取。各配送区域运费如下:</li>
							<li class="block">
								<table class="faq_table" style="width: 80%;" cellpadding="0" cellspacing="0">
									<colgroup>
							            <col width="50%"/>
							            <col width="25%"/>
							            <col/>
							        </colgroup>
									<thead>
										<tr>
											<th>配送区域</th>
											<th>首重费用（元）</th>
											<th>续重单价（元/kg）</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>深圳</td>
											<td>7</td>
											<td>1</td>
										</tr>
										<tr>
											<td>广东（不含深圳）</td>
											<td>7</td>
											<td>2</td>
										</tr>
										<tr>
											<td>江苏、浙江、上海</td>
											<td>7</td>
											<td>5</td>
										</tr>
										<tr>
											<td>北京、天津、福建、河南、河北、湖南、湖北、江西、山东、重庆、广西、山西、陕西、四川、云南、贵州、安徽、海南</td>
											<td>8</td>
											<td>6</td>
										</tr>
										<tr>
											<td>辽宁、吉林、黑龙江</td>
											<td>12</td>
											<td>8</td>
										</tr>
										<tr>
											<td>内蒙古、宁夏、青海、甘肃</td>
											<td>20</td>
											<td>15</td>
										</tr>
										<tr>
											<td>西藏、新疆</td>
											<td>25</td>
											<td>20</td>
										</tr>
									</tbody>
								</table>
							</li>
							<li>如：订单收货地为江苏，商品重量2.8公斤，则运费=7+2*5=17元</li>
						</ul-->
                        <div class="block">
                            <div>（2） <b>专车配送</b>：专人专车送货上门，出货当天即可送达，加急服务费每单28元。<!--目前覆盖范围包括深圳市南山区、福田区，其他地区即将陆续开放，尽请期待。--></div>
                        </div>
						<div class="block">
							<div>（3）<b>上门自提</b>：您可在收到提货通知后到<a href="<?=DOMAIN?>about/service_point.html" target="_blank">服务点</a>提货，运费全免。</div>
							<ul class="faq_msg">
								<li><a href="<?=DOMAIN?>about/service_point.html" target="_blank">服务点</a>持续扩充中，请您在下单选择配送方式时查看具体内容。现有服务点如下。</li>
								<li id="their_list" class="their_list">
                                    <div id="template-take_address_list-view" class="service_point take_their"></div>
								</li>
							</ul>
						</div>
                        <p class="faq_close"><a href="javascript:;">收起↑</a></p>
					</dd>
				</dl>
				<dl class="faq_item">
					<dt class="faq_tit"><span>2.生产周期说明</span></dt>
					<dd class="faq_contain">
						<div>
							<p>① 生产周期是指：订单从投入生产到生产完成的时间（不包含配送时间）</p>
							<p>② 生产周期=生产天数+加工天数，不包含周日和法定节假日</p>
							<p>③ 17:00前支付并上传文件的订单，若印刷文件通过审核，当晚投入生产；17:00后支付并上传文件的订单，次日投入生产</p>
						</div>
					<p class="faq_close"><a href="javascript:;">收起↑</a></p>
					</dd>
				</dl>
				<dl class="faq_item">
					<dt class="faq_tit"><span>3.为何货物没准时送达？</span></dt>
					<dd class="faq_contain">
						<div>出货时间是遵守规范且准确的。如果货物送达延期了，通常是遇到了突发的产品质量或运输问题，我们将告知您，并尽快处理。</div>
					<p class="faq_close"><a href="javascript:;">收起↑</a></p>
					</dd>
				</dl>
				<dl class="faq_item">
					<dt class="faq_tit"><span>4.喷绘海报可以帮我们贴吗？</span></dt>
					<dd class="faq_contain">
						<div>抱歉，暂时无法为您提供安装服务，请谅解！</div>
						<p class="faq_close"><a href="javascript:;">收起↑</a></p>
					</dd>
				</dl>
			</div>
		</div>
	</div>
</div>
<?php include(MODULES.'footer.xhtml');?>
<script id="template-take_address_list" type="text/template">
    <div class="point_filter">
        <select id="pid-take_address" name="province">
        </select><select id="cid-take_address" name="city">
    </select><select id="did-take_address" name="area" data-mode="1">
        <option value="" selected="selected">全部区/县</option>
    </select>
        <input id="pcd-take_address" name="take_pcd" type="hidden" value="" />
    </div>
    <ul id="template-point_list-view" class="point_list">
        <% include('template-point_list') %>
    </ul>
</script>
<script id="template-point_list" type="text/template">
    <% if(addressList&&addressList.length){ %>
    <% for(var k=0; temp = addressList[k]; k++){ %>
    <li id="take_address_item-<%=temp.addressId%>" class="item" data-address_id="<%=temp.addressId%>">
        <b class="name"><%=temp.addressName%></b>
        <div class="text">
            <%=temp.address.replace(/\^/gi,"")%>
            <span class="coord" data-name="<%=temp.addressName%>" data-coord="<%=temp.addressCoordinate%>"></span>
        </div>
    </li>
    <% } %>
    <% }else{ %>
    <li class="empty">该城市暂无服务点</li>
    <% } %>
</script>
<script type="text/javascript" src="<?=SCRIPTS?>jquery.js?ininin=<?=VERSION?>"></script>
<script type="text/javascript" src="<?=SCRIPTS?>tools.js?ininin=<?=VERSION?>"></script>
<script type="text/javascript" src="<?=SCRIPTS?>modules/point.js?ininin=<?=VERSION?>"></script>
<script type="text/javascript" src="<?=SCRIPTS?>other/faq.js?ininin=<?=VERSION?>"></script>
<script type="text/javascript" src="<?=SCRIPTS?>location.js?ininin=<?=VERSION?>"></script>
<script type="text/javascript" src="<?=SCRIPTS?>loaded.js?ininin=<?=VERSION?>"></script>
<!--<script type="text/javascript" src="<?=SCRIPTS?>jquery-1.7.2.min.js"></script>-->
<!--<script type="text/javascript" src="<?=SCRIPTS?>libs/utils.js"></script>-->
<!--<script type="text/javascript" src="<?=SCRIPTS?>zh_cn.js"></script> -->
<!--<script type="text/javascript" src="<?=SCRIPTS?>tool.js"></script>-->
<!--<script type="text/javascript" src="<?=SCRIPTS?>libs/location.js"></script>-->
<!--<script type="text/javascript" src="<?=SCRIPTS?>modules/point.js"></script>-->
<!--<script type="text/javascript" src="<?=SCRIPTS?>other/faq.js"></script>-->
<!--<script type="text/javascript" src="<?=SCRIPTS?>loaded.js"></script>-->
<!--<script type="text/javascript" src="<?=SCRIPTS?>libs/location.js"></script>-->
<!--<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=VybvSG3RqpGQzp6GwlzNOmiq"></script>-->
<?php include(MODULES.'linklogin.xhtml');?>
</body>
</html>